name: CI checks

on:
  push:
    branches: ["master"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  near:
    name: Rust (NEAR)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup rust toolchain
        run: rustup toolchain install stable --profile minimal

      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ci-checks

      - name: Install wasm-opt
        run: |
          TMPDIR=$(mktemp -d)
          VERSION="version_122"
          BINARY="binaryen-$VERSION-x86_64-linux.tar.gz"
          wget -P "$TMPDIR" "https://github.com/WebAssembly/binaryen/releases/download/$VERSION/$BINARY"
          tar xzf "$TMPDIR/$BINARY" -C "$TMPDIR"
          mkdir -p "$HOME/.local/bin"
          mv "$TMPDIR/binaryen-$VERSION/bin/"* "$HOME/.local/bin/"
          rm -rf "$TMPDIR"
          wasm-opt --version

      - name: Cargo format
        shell: bash
        run: |
          rustup component add rustfmt
          cargo fmt --check

      - name: Build NEAR contracts
        run: ./scripts/build-rust.sh

      - name: Cargo clippy
        run: cargo clippy -- -A warnings

      - name: Cargo test
        run: cargo test
